.header-wrapper {
    margin: 25px;
}

.header-body span {
    display: inline-block;
    width: 150px;
    font-size: 40px;
}

.header-nav-wrapper {
    display: inline-block;
    width: 70%;
}

.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.header-nav li {
    color: cyan;
}